@import "tailwindcss";

.slider::-webkit-slider-thumb {
  appearance: none;
  width: 20px;
  height: 20px;
  background: #FF3B30;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(255, 59, 48, 0.5);
}

.slider::-moz-range-thumb {
  width: 20px;
  height: 20px;
  background: #FF3B30;
  border-radius: 50%;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 10px rgba(255, 59, 48, 0.5);
}